<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-gidvision-ocr" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GidLibVision</name>
    <js-module name="GidLibVision" src="www/GidLibVision.js">
        <clobbers target="cordova.plugins.GidLibVision" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GidLibVision">
                <param name="android-package" value="com.gid.gidvisionlib.plugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/GidLibVision.java" target-dir="com/gid/gidvisionlib/plugin" />
        <framework custom="true" src="src/android/GidLibVisionConfig.gradle" type="gradleReference" />
        <resource-file src="src/android/libs/gidvisionlib.aar" target="libs/gidvisionlib.aar" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GidLibVision">
                <param name="ios-package" value="GidLibVision" />
            </feature>
        </config-file>
        <source-file src="src/ios/GidLibVision.m" />
        <framework src="src/ios/Framework/GIDVisionLib.framework" custom="true"></framework>
    </platform>
</plugin>